.tagContainer ::placeholder {
    font-size: 15px !important;
}

.tagContainer input {
    width: 150px !important;
    margin-left: 20px !important;
    margin-top: 20px;    
}


.tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    height: 15px;
    width: 30px;
    margin-right: 5px;
    margin-top: 15px;
    background-color: lightgray;
    flex-direction: row;
    margin-top: 20px;
}

.tagContainer {
    display: flex;
    flex-direction: column;
}

.tagList {
    height: 40px;
    display: flex;
}






